html {
	width: 450px;
	height: 300px;
	padding: 0;
	margin: 0;
	padding-top: 5px;
}

body {
	width: 450px;
	height: 300px;
	padding: 0;
	margin: 0;

	position: absolute;
	font-size: large;
	line-height: 180%;
}

h1 {
	font-size: small;
	line-height: 0;
	text-transform: uppercase;
	color: #484A86;
	background-color: #F1F2F9;
	font-family: 'Roboto Slab', serif;
}

h2 {
	font-size: small;
	line-height: 0;
	font-family: 'Roboto Slab', serif;
}

.temp {
	font-style: oblique;
	font-size: small;
	text-align: center;
	padding-top: 5px;
	opacity: 80%;
}

.main {
	height: 100%;
	overflow: auto;

	-ms-overflow-style: none;
	scrollbar-width: none;
}

.main::-webkit-scrollbar {
	display: none;
}